body {
    font-size: 18px;
    background-color: bisque;
    border: 2px solid powderblue;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin-left: 50px;
    padding-left: 50px;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

span.space_name {
    font-weight: bold;
}

#logo { 
    float: left;
    height: 80px;
    width: auto; 
}

#logo img {
    height: 100%;
}

#header {
    text-align: center;
    margin-top: 100px;
}

#list_button {
    position: absolute;
    top: 30px;
    right: 40px;
}

#our_spaces {
    text-align: left;
    margin-top: 30px;
}

label {
    display: inline;
    width: 100%;
}