

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakersBnb</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            background-color: #f8f8f8;
        }

        label {
            font-family: Arial, sans-serif;
            margin: 30px;
            padding: 0;
            background-color: #f8f8f8;
        }

        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }



    </style>
</head>
<body>

    <h1>MakersBnb</h1>

    <h2>Add a new property listing</h2>
    
    <form action="/home_page" method="post">
        {% if errors %}
            <p class="t-errors">
                There were errors with your submission: {{ errors }}
            </p>
        {% endif %}
    
        <div>
            <label for="space_name">Property Name:</label><br>
            <input type="text" name="name" id="name">
        </div>
    
        <div>
            <label for="description">Description:</label><br>
            <textarea type="text" name="description" id="description"></textarea>
        </div>
    
        <div>
            <label for="price_per_night">Price per night (£xx):</label><br>
            <input type="number" name="price_per_night" id="price_per_night">
        </div>
    
        <div>
            <label for="image">Link to imagery:</label><br>
            <input type="text" name="image" id="image">
        </div>
    
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    
</body>
</html>