

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakersBnb</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            background-color: #f8f8f8;
        }

        label {
            font-family: Arial, sans-serif;
            margin: 30px;
            padding: 0;
            background-color: #f8f8f8;
        }

        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }



    </style>
</head>
<body>

    <h1>MakersBnb</h1>

    <h2>Add a Property</h2>
    
    <form>
<table>
    <tr>
    <td align="right">Property Name:</td>
    <td align="left"><input type="text" name="property_name" size=40/></td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr>
    <td align="right">Description:</td>
    <td align="left"><input type="text" name="description" size=75 /></td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr>
    <td align="right">Price per night (£xx):</td>
    <td align="left"><input type="text" name="price_per_night" size=10 /></td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr>
    <td align="right">Link to imagery:</td>
    <td align="left"><input type="text" name="image" size="50" /></td>
    </tr>
</table>

<p>
        <!-- `type` is submit here, to indicate it is a button -->
        <!-- `value` is used as the button's text -->
        <input type="submit" value="Submit">
    </p>

</form>
</body>
</html>