<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Request A Space</h1>
        <h2>Placeholder: Name of space# {{ space_id }}</h2>
        <p>Placeholder: description of space {{ space_id }}</p>
        {% if bookings | length > 0 %}
            <h3 class="bookings_status_title">This space is already booked for the following dates</h3>
            {% for booking in bookings %}
            <p class="booking_status">Date: {{ booking.booking_date }}, Status: {{ booking.status }}</p>
            {% endfor %}
        {% endif %}

        <form action="/spaces/request" method="post">
            <input type="hidden" name="space_id" value="{{ space_id }}">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <p>
                <label for="requested_date">Request Space For:</label><br>
                <input type="date" name="requested_date" id="requested_date" required><br>
            <p>
            <input type="submit" value="Request to Book">
            </p>
        </form>
    </body>
</html>
