<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MakersBnB - View Requests</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <div id="logo">
            <a href="index.html">
                <img src="/static/logo.png" alt="The BnBugs">
            </a>
        </div>
        <h1>Request A Space</h1>
        <p>Hi {{ user.user_name }} are you ready to book:</p>
        <h2>{{ space.space_name }}</h2>
        <p>{{ space.spaces_description }}</p>
        {% if bookings | length > 0 %}
            <h3 class="bookings_status_title">This space is already booked for the following dates</h3>
            {% for booking in bookings %}
            <p class="booking_status">Date: {{ booking.booking_date }}, Status: {{ booking.status }}</p>
            {% endfor %}
        {% endif %}

        <form action="/spaces/request" method="post">
            <input type="hidden" name="space_id" value="{{ space.id }}">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <p>
                <label for="requested_date">Request Space For:</label><br>
                <input type="date" name="requested_date" id="requested_date" value={{ space.available_from_date }} min={{ space.available_from_date }} max={{ space.available_to_date }} required><br>
            <p>
            <input type="submit" value="Request to Book">
            </p>
        </form>
    </body>
</html>
