<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MakersBnB - View Requests</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <div id="logo">
            <a href="index.html">
                <img src="/static/logo.png" alt="The BnBugs">
            </a>
        </div>
        <h1>View Request</h1>
        {% if page_mode == 'approver' %}
            <p>Booking request for {{ space.space_name }}</p>
            <p>From: {{ requesting_user.user_name }}, {{ requesting_user.email }}</p>
            <p>Requested date: {{ booking.booking_date }}</p>

            {% if other_requests | length > 0 %}
                <h3>Other requests for this space:</h3>
                {% for request in other_requests %}
                <p>{{ request['space_name'] }}: <span class="booking_status">Date: {{ request['booking_date'] }}, Requester: {{ request['requesting_user_name'] }}, Status: {{ request['status'] }}</span> <a href="/requests/{{ request['id'] }}">View booking</a></p>
                {% endfor %}
            {% endif %}
            <form action="/requests/{{ id }}" method="POST">
            <button type="submit" name="action" value="approve">Approve</button>
            <button type="submit" name="action" value="deny">Deny</button>
            </form>

        {% else %}

            <p>Sorry, we can't show you this request. Are you logged in?</p>

        {% endif %}

    </body>
</html>
