<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>View Request</h1>
        {% if page_mode == 'approver' %}
            <p>Booking request for {{ space.space_name }}</p>
            <p>From: {{ requesting_user.user_name }}, {{ requesting_user.email }}</p>
            <p>Requested date: {{ booking.booking_date }}</p>

            {% if other_requests | length > 0 %}
                <h3>Other requests for this space:</h3>
                {% for request in other_requests %}
                <p>{{ request['space_name'] }}: <span class="booking_status">Date: {{ request['booking_date'] }}, Requester: {{ request['requesting_user_name'] }}, Status: {{ request['status'] }}</span> <a href="/requests/{{ request['id'] }}">View booking</a></p>
                {% endfor %}
            {% endif %}

            <a href="/requests/{{ id }}/approve">Approve</a><br>
            <a href="/requests/{{ id }}/deny">Deny</a>

        {% else %}

            <p>Sorry, we can't show you this request. Are you logged in?</p>

        {% endif %}

    </body>
</html>
